<h3><strong>The Birene Tutorial and Review Advantage</strong></h3>
<ul style="list-style-type: none;">
  <li><i class="fa fa-check"></i> Convenient and highly effective tutorial options</li>
  <li><i class="fa fa-check"></i> Sample tests and review</li>
  <li><i class="fa fa-check"></i> Guaranteed results</li>
</ul>

<div class="callout callout-info">
  <h3>Private Tutoring</h3>
  <hr>
  <strong>Completely personalized tutoring</strong>
  <div class="row">
    <div class="col-sm-6">
      <strong>Course benefits:</strong>
      <ul style="list-style-type: circle;">
        <li> A tutor with the skills and style to meet your needs</li>
        <li> The freedom to meet when and where you want</li>
        <li> A plan to help you get into your top-choice schools</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <strong>Course features:</strong>
      <ul style="list-style-type: circle;">
        <li> A custom prep plan designed by an elite tutor</li>
        <li> Frequent adjustments to match your progress</li>
        <li> 4 core practice SATs and 17 additional exams</li>
        <li> In-person or online sessions</li>
        <li> PSAT PLUS: Comprehensive PSAT prep to ensure you're prepared for both tests</li>
        <li> Comprehensive or pay-as-you-go programs</li>
      </ul>
    </div>
    <div class="text-right">
      <span class="btn btn-info">Learn more</span>
    </div>
  </div>
</div>