<h3><strong>The Birene Tutorial and Review Advantage</strong></h3>
<ul style="list-style-type: none;">
  <li><i class="fa fa-check"></i> Convenient and highly effective tutorial options</li>
  <li><i class="fa fa-check"></i> Sample tests and review</li>
  <li><i class="fa fa-check"></i> Guaranteed results</li>
</ul>

<div class="callout callout-info">
  <h3>Private Tutoring</h3>
  <hr>
  <strong>Completely personalized tutoring</strong>
  <div class="row">
    <div class="col-sm-6">
      <strong>Course benefits:</strong>
      <ul style="list-style-type: circle;">
        <li> A tutor with the skills and style to meet your needs</li>
        <li> The freedom to meet when and where you want</li>
        <li> A plan to help you get into your top-choice schools</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <strong>Course features:</strong>
      <ul style="list-style-type: circle;">
        <li> A custom prep plan designed by an elite tutor</li>
        <li> Frequent adjustments to match your progress</li>
        <li> 4 core practice SATs and 17 additional exams</li>
        <li> In-person or online sessions</li>
        <li> PSAT PLUS: Comprehensive PSAT prep to ensure you're prepared for both tests</li>
        <li> Comprehensive or pay-as-you-go programs</li>
      </ul>
    </div>
    <div class="text-right">
      <span class="btn btn-info">Learn more</span>
    </div>
  </div>
</div>

<div class="callout callout-info">
  <h3>Semi-Private Tutoring (Small Group Sessions)</h3>
  <hr>
  <strong>One Expert Instructor and No More Than 4 Students <br> F
  For Our Most Popular and Comprehensive Ultimate Course</strong>
  <div class="row">
    <div class="col-sm-6">
      <strong>Course benefits:</strong>
      <ul style="list-style-type: circle;">
        <li> Maximum of 4 students per class</li>
        <li> Individualized attention</li>
        <li> Customizable schedules</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <strong>Course features:</strong>
      <ul style="list-style-type: circle;">
        <li> 30 hours of live instruction</li>
        <li> 4 proctored practice tests, 15 additional SATs and 2 ACTs</li>
        <li> Prep for the ACT too with free access to our ACT Self-Paced course (a $300 value) featuring video lessons covering all the concepts tested, drills, practice tests and exclusive test-taking strategies.</li>
        <li> Interactive Admissions and Financial Aid courses</li>
        <li> PSAT PLUS: Comprehensive PSAT prep to ensure you're prepared for both tests</li>
        <li> 200-point score-improvement guarantee</li>
      </ul>
    </div>
    <div class="text-right">
      <span class="btn btn-info">Learn more</span>
    </div>
  </div>
</div>

<div class="callout callout-info">
  <h3>Self-Paced Study</h3>
  <hr>
  <strong>One Expert Instructor and No More Than 4 Students <br> F
  For Our Most Popular and Comprehensive Ultimate Course</strong>
  <div class="row">
    <div class="col-sm-6">
      <strong>Course benefits:</strong>
      <ul style="list-style-type: circle;">
        <li> Self-paced content review</li>
        <li> Key strategies to approach question types</li>
        <li> A complete suite of online practice tools</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <strong>Course features:</strong>
      <ul style="list-style-type: circle;">
        <li> 20-30 hours of interactive self-paced online lessons</li>
        <li> 4 full-length practice tests</li>
        <li> Score higher or repeat course for free</li>
      </ul>
    </div>
    <div class="text-right">
      <span class="btn btn-info">Learn more</span>
    </div>
  </div>
</div>